:root {
  --button-width: var(--normal-button-width);
  --button-height: var(--normal-button-height);
}

.imgButton {
  width: 32px;
  height: 32px;
  color: var(--black);
  border-radius: var(--gap5-1);
  background: var(--button-background-color);
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imgButton:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--normal-border-radius);
}

.imgButton:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.imgButton:focus {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
