.one-item {
  display: grid;
  grid-template-areas:
    ' img  price coin '
    ' img  cond award '
    ' title title title ';
  grid-template-columns: 75px 50px auto;
  grid-template-rows: 35px 35px 30px;
  background: rgba(230, 230, 150, 0.8);
  border-radius: var(--gap5);
  padding: var(--gap5-2);
  align-items: center;
  transition: all ease-in-out 0.2s;
  gap: var(--gap5);
  font-size: var(--gap-5);
}

.purchased-item {
  background: var(--sub-panel-background);
}

.img {
  grid-area: img;
}

.img-shop-item {
  vertical-align: middle;
  height: 30px;
  filter: drop-shadow(var(--text-shadow));
}

.img-shop-item-purchased {
  filter: grayscale(90%) opacity(80%);
}

.price {
  grid-area: price;
  text-align: right;
}

.coin {
  grid-area: coin;
}

.cond {
  grid-area: cond;
  text-align: right;
}

.award {
  grid-area: award;
}

.title {
  grid-area: title;
  text-align: center;
}

.shop-item {
  cursor: pointer;
}

.shop-item:hover {
  box-shadow: var(--box-shadow);
}

.shop-item:disabled {
  background: rgba(0, 0, 0, 0.7);
}
