:root {
  --button-height: var(--normal-control-height);
  --button-width: var(--normal-control-width);
}

.button {
  width: var(--button-width);
  height: var(--button-height);
  padding-left: var(--gap-5);
  padding-right: var(--gap-5);
  color: var(--white);
  font-family: var(--platform-font);
  font-size: 100%;
  border-radius: var(--normal-border-radius);
  background-color: var(--blue);
}

.button:focus {
  box-shadow: var(--shadow);
}
