:root {
  --button-width: var(--normal-button-width);
  --button-height: var(--normal-button-height);
}

.button {
  min-width: var(--button-width);
  height: var(--button-height);
  padding-left: var(--gap-5);
  padding-right: var(--gap-5);
  color: var(--violet);
  font-family: var(--impact-font);
  font-size: var(--gap-6);
  border-radius: var(--normal-border-radius);
  background-color: var(--yellow);
  position: relative;
  box-shadow: var(--inset-black-shadow);
  cursor: pointer;
}

.button:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--normal-border-radius);
}

.button:hover:after {
  background-color: var(--transparent-blue);
}

.button:focus {
  box-shadow: var(--gray-shadow), var(--inset-black-shadow);
}
