:root {
  --button-width: var(--normal-button-width);
  --button-height: var(--normal-button-height);
}

.button {
  min-width: var(--button-width);
  height: var(--button-height);
  padding-left: var(--gap-5);
  padding-right: var(--gap-5);
  color: var(--violet);
  font-family: var(--impact-font);
  font-size: var(--gap-6);
  border-radius: var(--normal-border-radius);
  background-color: var(--yellow);
}

.button:focus {
  box-shadow: var(--gray-shadow);
}
