:root {
  --input-width: var(--normal-input-width);
  --input-height: var(--normal-input-height);
}

.input-container {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  box-shadow: none;
  outline: none;
  appearance: none;
  font-family: var(--main-font);
  font-size: var(--gap-4);
  color: var(--black);
  background: var(--sub-panel-background);
  padding: 24px 20px 10px 20px;
  height: var(--input-height);
  width: var(--input-width);
  border-radius: var(--gap5);
  border-width: 0;
  border-style: solid;
  border-color: var(--black);
}

.input-label {
  font-family: var(--main-font);
  font-size: var(--gap-4);
  color: var(--black);
  opacity: 0.8;
  position: absolute;
  left: 20px;
  top: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  transform: translateY(-50%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform-origin: left top;
  pointer-events: none;
}

.input:focus ~ .input-label,
.input:valid ~ .input-label {
  transform: translateY(-90%) scale(0.7);
  opacity: 0.5;
}

.input:focus {
  box-shadow: var(--input-focus-shadow);
}
