:root {
  --text-area-width: var(--normal-input-width);
}

.text-area-container {
  position: relative;
  margin-top: calc(var(--gap-4));
}

.text-area-label {
  position: absolute;
  color: var(--black);
  font-size: var(--gap-3);
  top: calc(var(--gap-4) * -1);
}

.text-area {
  min-width: var(--text-area-width);
  min-height: 300px;
  padding-left: var(--gap-2);
  padding-right: var(--gap-2);
  background: var(--sub-panel-background);
  color: var(--black);
  font-family: var(--main-font);
  font-size: 100%;
  border-radius: var(--normal-border-radius);
  border-width: 0;
  resize: none;
}

.text-area::-webkit-scrollbar {
  display: none;
}

.text-area:focus {
  box-shadow: var(--input-focus-shadow);
}
