.topic-page {
  display: grid;
  grid-template-areas:
    'nav      title    .'
    'messages messages messages ';
  grid-template-rows: 55px calc(100vh - 55px);
  grid-template-columns: 300px calc(100% - 600px - 60px) 300px;
  gap: var(--gap5-6);
  justify-self: center;
  align-self: center;
  padding: var(--gap5-6);
  height: 100vh;
  overflow: hidden;
}

.button-forum-back {
  grid-area: nav;
  align-self: center;
  justify-self: left;
}

.title-message {
  grid-area: title;
  align-self: center;
  text-align: center;
}

.messages-forum {
  grid-area: messages;
  align-self: flex-start;
  justify-self: center;
  width: 100%;
  height: calc(100vh - 80px - 30px - 35px);
  overflow: hidden;
  background: var(--backdrop-background-color);
  padding: var(--gap5-5);
  border-radius: var(--gap5-1);
  display: grid;
  grid-template-areas: 'messagelist newmessage';
  grid-template-rows: 100%;
  grid-template-columns: calc(100% - 340px) 340px;
}

.messages-list {
  height: 100%;
  overflow: hidden;
  font-family: var(--header-font);
  font-size: var(--gap-6);
  padding: var(--gap5-2);
}

.new-message {
  grid-area: newmessage;
  display: flex;
  flex-direction: column;
  gap: var(--gap5-4);
  justify-self: center;
  align-self: flex-start;
  padding: var(--gap5-2);
  font-family: var(--header-font);
  font-size: var(--gap-6);
  height: 100%;
  align-items: stretch;
}
