.text-field {
  padding: var(--gap5-2);
  width: 100%;
  background: var(--input-background-color);
  border-radius: var(--gap5-1);
  text-shadow: var(--text-light);
}

.topic {
  display: grid;
  grid-template-areas:
    'dateTime author  mesCount edit    delete'
    'content  content content  content content'
    '-        -       -        -       save';
  grid-template-columns: 1fr 1fr 1fr auto auto;
  gap: var(--gap5-2);
  font-family: var(--main-font);
  font-size: var(--gap-4);
  cursor: pointer;
  margin-top: var(--gap5-2);
  transition: all linear 0.2s;
}

.topic:hover {
  box-shadow: var(--box-shadow);
}

.topic-dateTime {
  grid-area: dateTime;
  text-align: left;
}

.topic-author {
  grid-area: author;
  text-align: center;
}

.topic-mes-count {
  grid-area: mesCount;
  text-align: right;
}

.topic-edit {
  grid-area: edit;
  text-align: center;
  display: flex;
  align-items: center;
}

.topic-delete {
  grid-area: delete;
  text-align: center;
  display: flex;
  align-items: center;
}

.topic-save {
  grid-area: save;
  text-align: center;
}

.topic-content {
  grid-area: content;
  text-align: left;
  font-size: var(--gap-5);
}

.topic-button {
  height: 25px;
  cursor: pointer;
}

.topic-button:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.topic_hidden {
  display: none;
}
