:root {
  --black: #000000;
  --white: #ffffff;
  --yellow: #ecef49;
  --dark-blue: #183963;
  --transparent-dark-blue: #183963a6;
  --transparent-light-blue: #00c4ffa6;
  --transparent-gray: #f4f4f5b3;
  --transparent-white: #ffffff66;
}
