:root {
  --black: #000000;
  --blue: #0077ff;
  --gray: #b2b2b2;
  --green: #156b39;
  --orange: #ffa000;
  --purple: #735ce6;
  --red: #e64646;
  --turquoise: #63b9ba;
  --violet: #792ec0;
  --white: #ffffff;
  --yellow: #ffc107;
}
