@import url('https://rsms.me/inter/inter.css');

:root {
  --platform-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --inter-font: 'Inter', sans-serif;
  --impact-font: 'Impact', sans-serif;
}
