* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--platform-font);
  font-size: 100%;
}

body {
  line-height: 1;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
button {
  border: none;
  outline: none;
}
