* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font);
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}
