:root {
  --input-focus-shadow: 0 0 2px 2px #b2b2b2;
  --text-shadow: 1px 4px 3px rgb(0, 0, 0);
  --box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
  --text-light: 1px 1px rgb(255, 255, 255);
  --img-light: 0 0 1px rgb(255, 255, 255);
}
