:root {
  --gap: 4px;
  --gap-1: calc(var(--gap) * 1); /* 4px */
  --gap-2: calc(var(--gap) * 2); /* 8px */
  --gap-3: calc(var(--gap) * 3); /* 24px */
  --gap-4: calc(var(--gap) * 4); /* 16px */
  --gap-5: calc(var(--gap) * 5); /* 20px */
  --gap-6: calc(var(--gap) * 6); /* 24px */
  --gap-7: calc(var(--gap) * 7); /* 28px */
  --gap-8: calc(var(--gap) * 8); /* 32px */
  --gap-9: calc(var(--gap) * 9); /* 36px */
  --gap-10: calc(var(--gap) * 10); /* 40px */

  --normal-border-radius: var(--gap-2);
  --normal-control-height: var(--gap-9);
  --normal-control-width: calc(var(--gap) * 50);
}
