.signup-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--gap5-5);
}

.signup-title {
  margin-bottom: var(--gap5-5);
}

.signup-button {
  width: 340px;
  margin-top: 20px;
  font-weight: bold;
}

.signup-page-gap {
  flex: 1;
}
