.nav-menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-menu-items {
  height: 32px;
  display: flex;
  align-items: center;
  background: var(--transparent-black);
  color: var(--white);
  margin: 0;
  list-style: none;
  flex: 1;
}

.nav-menu-item {
  font-weight: bold;
  color: var(--white);
  margin-left: 32px;
}

.active-link {
  color: var(--violet);
}

.user-name {
  background: var(--transparent-black);
  color: var(--white);
  width: 300px;
  margin: 0;
  font-size: var(--gap-4);
  position: absolute;
  right: 0;
  overflow: hidden;
}
