.text-field {
  padding: var(--gap5-2);
  width: 100%;
  background: var(--sub-panel-background);
  border-radius: var(--gap5-1);
  text-shadow: var(--text-light);
}

.topic {
  display: grid;
  grid-template-areas:
    'datetime  author  mesCount'
    'content   content content ';
  grid-template-columns: 30% auto 30%;
  gap: var(--gap5-2);
  font-family: var(--main-font);
  font-size: var(--gap-4);
  cursor: pointer;
  margin-top: var(--gap5-2);
  transition: all linear 0.2s;
}

.topic:hover {
  box-shadow: var(--box-shadow);
}

.topic-datetime {
  grid-area: datetime;
  text-align: left;
}

.topic-author {
  grid-area: author;
  text-align: center;
}

.topic-mesCount {
  grid-area: mesCount;
  text-align: right;
}

.topic-content {
  grid-area: content;
  min-height: 100px;
  text-align: left;
  font-size: var(--gap-5);
}
