.forum-page {
  display: grid;
  grid-template-areas:
    "nav   title title"
    "themes themes new ";
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-columns: 300px calc(100% - 640px) 300px;
  gap: 10px;
  justify-self: center;
  align-self: center;
  background-image: url(../../assets/mainBack.jpg);
  background-size: cover;
}

.button-forum-back {
  grid-area: nav;

}

.title-forum {
  grid-area: title;
  background: RGBA(0,0,255,0.5);
}

.themes-forum {
  grid-area: themes;
  background: RGBA(0,0,255,0.5);
}

.new-forum {
  grid-area: new;
  background: RGBA(0,0,255,0.5);
}
