.app {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.content {
  flex: 1;
  background-image: var(--app-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
