.text-field {
  padding: var(--gap5-2);
  width: 100%;
  background: var(--sub-panel-background);
  border-radius: var(--gap5-1);
  text-shadow: var(--text-light);
}

.message {
  display: grid;
  grid-template-areas:
    'author edit delete'
    'content content content';
  grid-template-columns: auto 60px 60px;
  gap: var(--gap5-2);
  font-family: var(--main-font);
  font-size: var(--gap-5);
  transition: all 0.2s ease-in-out;
  margin-top: var(--gap5-2);
}

.message-author {
  grid-area: author;
  text-align: start;
}

.message-edit {
  grid-area: edit;
  text-align: center;
}

.message-delete {
  grid-area: delete;
  text-align: center;
}

.message-content {
  grid-area: content;
  min-height: 100px;
  text-align: left;
}

.message-button {
  width: 60px;
  height: 25px;
  cursor: pointer;
}
