.text-field {
  padding: var(--gap5-2);
  width: 100%;
  background: var(--input-background-color);
  border-radius: var(--gap5-1);
  text-shadow: var(--text-light);
}

.message {
  display: grid;
  grid-template-areas:
    'author  edit    delete'
    'content content content'
    '-       -       save';
  grid-template-columns: 1fr auto auto;
  gap: var(--gap5-2);
  font-family: var(--main-font);
  font-size: var(--gap-5);
  transition: all 0.2s ease-in-out;
  margin-top: var(--gap5-2);
}

.message-author {
  grid-area: author;
  text-align: start;
}

.message-edit {
  grid-area: edit;
  text-align: center;
}

.message-delete {
  grid-area: delete;
  text-align: center;
}

.message-save {
  grid-area: save;
  text-align: center;
}

.message-content {
  grid-area: content;
  text-align: left;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.message_hidden {
  display: none;
}
