.error-message-container {
  width: 100%;
  height: 100%;
  background: var(--backdrop-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: var(--gap-10);
  color: var(--white);
}
