.scroll {
  display: grid;
  grid-template-areas:
    'title  upbutton  . . .'
    'content content content bar .'
    '.  downbutton . . .';
  grid-template-columns: calc(50% - 45px) 40px calc(50% - 45px) 30px 20px;
  grid-template-rows: max-content auto 30px;
  gap: var(--gap5-2);
  height: 100%;
  width: 100%;
}

.scroll-title {
  grid-area: title;
  padding-left: var(--gap5-2);
}

.scroll-content {
  grid-area: content;
  overflow: hidden;
  height: 100%;
  padding-left: var(--gap5-2);
  padding-right: var(--gap5-2);
}

.scroll-bar {
  grid-area: bar;
  background-color: var(--sub-panel-background);
}

.scroll-bar-track {
  width: 30px;
  height: 60px;
  overflow: hidden;
  top: 0;
  background: var(--panel-background);
  cursor: pointer;
  position: relative;
}

.scroll-bar-track:hover {
  box-shadow: var(--box-shadow);
}

.img-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  filter: drop-shadow(var(--img-light));
  transition: all linear 0.2s;
  align-self: end;
}

.img-button:hover {
  filter: drop-shadow(var(--box-shadow));
}
.scroll-up-button {
  grid-area: upbutton;
  justify-self: center;
  background-image: url('../../../assets/up.png');
}

.scroll-down-button {
  grid-area: downbutton;
  justify-self: center;
  background-image: url('../../../assets/down.png');
}
