.theme {
  width: 100%;
  display: grid;
  grid-template-areas:
    "datetime  author  mesCount"
    "content   content content "
    ".         .       newCount ";
  margin: 5px;
  padding: 5px;
  gap: 5px;
  background: rgba(0,0,0,0.3);
  font-family: var(--impact-font);
  font-size: var(--gap-6);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.theme:hover {
  box-shadow: 0 0 50px #CDD02A;

}

.theme-datetime {
  grid-area: datetime;
  align-self: center;
  justify-self: flex-start;
  padding: 5px;
  width: 100%;
  background: rgba(200,200,200,0.8);
}

.theme-author {
  grid-area: author;
  align-self: center;
  justify-self: center;
  padding: 5px;
  width: 100%;
  background: rgba(200,200,200,0.8);
}

.theme-mesCount {
  grid-area: mesCount;
  align-self: center;
  justify-self: flex-end;
  padding: 5px;
  width: 100%;
  background: rgba(200,200,200,0.8);
}

.theme-content {
  grid-area: content;
  align-self: center;
  justify-self: flex-start;
  background: rgba(255,255,255,0.8);
  padding: 5px;
  width: 100%;
  min-height: 100px;
}

.theme-newCount {
  grid-area: newCount;
  align-self: center;
  justify-self: flex-end;
  color: rgb(255,255,255);
}
